@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Lexend+Deca:wght@100;200;300;400&&family=Oooh+Baby&display=swap"&display=swap');

:root{
        --font: 'Lexend';
        --sFont: 'Lexend';
        --ssFont: 'Lato';
        --testfont: 'Oooh Baby';
        --secondstagefontSz: calc(.69em + 0.4vmin);
        --firststage: 100;
        --firststagepadding: 1vw;
        --altfirststagepadding: 1em;
        --firststageleftmargin: 2em; 
        --pColor: #03Dac6;
        --scolor: #018786;
        --optional: #b00020;
        --white: #fff;
        --black: #000;
        --gray: #666666;
        --very-light-gray: #bbb;
        --purple: #705dcb;
        --teal: #4ca2bd;
        --faded-yellow: #fdf9d3;
        --faded-green: #e4ffee;
        --faded-purple: #eff2ff;
        --faded-red: #f8e8e5;
        --faded-blue: #eff7fa;
        --faded-darker-purple: #eaedf9;
        --bg-light: #1e242e;
        --bg-dark: #151a21;
        --bgcolor: #191f23;
        --green: #40cf6c;
        --border-col: #14906a;
    }

    body{
        width: 97%;
        height: 97%;
        background-color: #535353;
    }
    
    p{
        font-family: var(--font);
        font-size: var(--fontSz);
        font-weight: var(--firststage);
        color: var(--pColor);
    }
    
    /* a{
        background-color: var(--bgcolor);
        padding: calc(var(--firststagepadding) - 0.99vw );
        font-family: var(--ssFont);
        font-size: var(--secondstagefontSz);
        text-decoration: none;
        margin-left: var(--firststageleftmargin);
    } */

    a{
      background-color: var(--bg-dark);
      font-family: var(--ssFont);
      font-size: var(--secondstagefontSz);
      text-decoration: none;
      margin: var(--firststageleftmargin);
      padding: calc(var(--firststagepadding) - 0.99vw);
    }
    
    a:hover{
        text-decoration: underline;
    }
    
    a:visited{
        color: var(--optional);
    }
    
    br{
      margin-bottom: calc(var(--firststageleftmargin) - 1.8em);
    }

    iframe{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    details {
      background: var(--bg-light);
      padding: var(--altfirststagepadding);
      border: 0.1em solid var(--border-col);
      color: var(--border-col);
      border-radius: 0.237em;
      margin-bottom: 0.3em;
      margin-top: 0.3em;
    }
    
    details > p {
      background: white;
      padding: 0.5em 0.7em;
      border-radius: 0.5em;
      font-size: 1em;
      margin-top: 1em;
    }

    summary{
      font-family: var(--font);
      font-size: calc(0.9em + 0.2vmin);
    }
    
    summary:hover {
        cursor: pointer;
    }

    .wrapper {
      position: relative;
      padding-bottom: 56.25%; /* 16:9, for an aspect ratio of 1:1 change to this value to 100% */ 
    }

    #clock {
      margin-top: 1em;
      font-family: var(--testfont);
      font-size: calc(1em + 0.8vmin);
      font-weight: 600;
      color: var(--black);
    }

    #date, #diff, #stopwatch {
      font-family: var(--testfont);
      font-size: calc(1em + 0.4vmin);
      font-weight: 600;
      color: var(--black);
    }
